.movieRow--container {
  margin-bottom: 30px;
}

.movieRow--container h2 {
  margin: 0px 0px 0px 30px;
}

.movieRow--linearea {
  overflow: hidden;
}

.movieRow--list {
  width: 99999999999px;
}

.movieRow--item {
  display: inline-block;
  width: 150px;
}

.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.18s;
}

.movieRow--item img:hover {
  transform: scale(1)
}